{% extends "base.html" %}
{% block page_title %}{{ tag }} - Archive{% endblock %}
{% block page_description %}Archive for tag - {{ tag }}{% endblock %}
{% block pageclass %} tag {% endblock %}

{% block content %}
	<h1 class="page-title"><a href="{{ url_for('app.archive') }}">Archive</a> for - {{ tag }}</h1>

	<ul class="tags">
		{% for post in posts %}
			<li><a href="{{ url_for('app.posts', slug=post.slug) }}">{{ post.title }}</a>, written on &mdash; {{ date_format(post.meta['date'], '%b %d, %Y').replace(" 0", " ") }}</li>
		{% endfor %}
	</ul>

{% endblock %}
