<!DOCTYPE html>
	<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
	<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
	<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{% block page_title %}Home{% endblock %} - {{ config.SITE.title }}</title>
		<meta itemprop="description" name="description" content="{% block page_description %}{{config.SITE.description}}{% endblock %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="canonical" href="{{ config.SITE.domain_url }}" />
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
		<link href="{{ url_for('app.recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">

		<!-- Fonts -->
		<link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic" rel="stylesheet" type="text/css">
		<link href="//fonts.googleapis.com/css?family=Raleway:500,100,300" rel="stylesheet" type="text/css">

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('app.pygments_css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		{% if config.SITE.enforce_ssl %}
		<!-- Enforce ssl -->
		<script type="text/javascript">
			var host = "{{ config.SITE.domain_url }}";
			if ((host.indexOf(window.location.host) !== -1) && (window.location.protocol != "https:"))
				window.location.protocol = "https";
		</script>
		{% endif %}
		<!-- Js files -->
		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
	</head>
	<body itemscope="itemscope" itemtype="http://schema.org/WebPage" class="container {% block pageclass %}{% endblock %}">
		<header id="header" class="header row">
			<div class="page-label five columns prevent-collapse">
				{% block pagelabel %}{% endblock %}
			</div>
			<div class="site-info seven columns">
				<span class="site-title">
					<a href="{{ url_for('app.index') }}">{{ config.SITE.title }}</a>
				</span> &mdash;
				<nav class="nav">
					<ul class="flat">
						<li><a href="{{ url_for('app.tags') }}">tags</a></li>
						<li><a href="{{ url_for('app.list_posts') }}">list</a></li>
						<li><a href="{{ url_for('app.archive') }}">archive</a></li>
					</ul>
				</nav>
			</div>
		</header><!-- /header -->
		<main class="main row">
			{% block content %}
				Post content goes here
			{% endblock %}
		</main><!-- /main -->
		<footer class="footer row">
			<div class="">&#169; Copyright 2014 by {{ config.SITE.name or 'Vivek'}} - <a href="{{ url_for('app.recent_feed') }}"
			rel="alternate" title="Recent Changes" type="application/atom+xml">Atom feed</a>
			- <a href="{{ url_for('app.sitemap') }}">XML sitemap</a></div>
			<div class="">Blog frozen by - <a href="https://github.com/vividvilla/frog">Olaf</a></div>
		</footer><!-- /footer -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		{% if config.SITE.get('analytics') %}
			<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
			<script>
				(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
				function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
				e=o.createElement(i);r=o.getElementsByTagName(i)[0];
				e.src='//www.google-analytics.com/analytics.js';
				r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
				ga('create','{{ config.SITE.get("analytics") }}');ga('send','pageview');
			</script>
		{% endif %}
	</body>
</html>
