{% extends "base.html" %}
{% block page_title %}Archives{% endblock %}
{% block page_description %}Date based content archive.{% endblock %}

{% block content %}
	<h1 class="page-title">Archives</h1>
	{% if not archive %}
		<div class="post-meta"></div>
		Perhaps you need to write some posts.
	{% endif %}
	<ul class="tags">
		{% for year, year_data in archive.items() %}
			<li><a href="{{ url_for('app.yearly_archive', year=year) }}">{{ year }}</a> - {{ year_data['count'] }} entries
				<ul>
					{% for month in year_data['months'] %}
						<li><a href="{{ url_for('app.monthly_archive', year=year, month=month[0]) }}">{{ date_tostring(year, month[0], format='%B') }}</a> - {{ month[1] }} entries</li>
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
