{% extends "base.html" %}
{% block page_title %}{{ content.title }}{% endblock %}
{% block page_description %}
	{{ content.meta.get('summary', content.body[:160]) }}
{% endblock %}

{% block pageclass %}page{% endblock %}
{% block content %}
		<h1 class="page-title">{{ content.title }}</h1>
		<div class="post-meta">
			{% if content.meta.get('date') %}
				<span class="label">Posted at &mdash; </span>
				<span class="date">
					{{ date_format(content.meta['date'], '%b %d, %Y').replace(" 0", " ") }}
				</span>
			{% endif %}
		</div>
		{{ content.html | safe }}

		<div class="post-meta">
			{% if content.meta.get('updated') and content.meta.get('date') != content.meta['updated'] %}
				<span class="label">Updated at &mdash; </span>
				<span class="date">
					{{ date_format(content.meta['updated'], '%b %d, %Y').replace(" 0", " ") }}
				</span>
			{% endif %}
			{% if content.meta.get('tags') %}
				<ul class="tags tags-cloud">
					<li>Tagged :</li>
					{% for tag in content.meta.get('tags') %}
						<li><a href="{{ url_for('app.tag_page', tag=tag ) }}">{{ tag }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>

		{% if config.SITE.get('disqus') and content_type(content.path, 'post') %}
			{{ disqus_html | safe }}
		{% endif %}

{% endblock %}
