{% extends "base.html" %}
{% block page_title %}Articles list{% endblock %}
{% block page_description %}List of all articles.{% endblock %}

{% block pageclass %} List of all articles {% endblock %}

{% block content %}
	<h1 class="page-title">List of all articles</h1>
	<ul class="tags">
		{% for post in posts %}
			<li><a href="{{ url_for('app.posts', slug=post.slug) }}">{{ post.title }}</a>, written on &mdash; {{ date_format(post.meta['date'], '%b %d, %Y').replace(" 0", " ") }}</li>
		{% endfor %}
	</ul>
{% endblock %}

