{% extends "base.html" %}
{% block page_title %}{{ tag }} - Archive{% endblock %}
{% block page_description %}Archive for tag - {{ tag }}{% endblock %}
{% block pageclass %} tag {% endblock %}

{% block content %}
	<h1 class="page-title">Entries <a href="{{ url_for('app.tags') }}">tagged</a> - “{{ tag }}”</h1>
	<div>{% if len == 1 %}{{ len }} entry{% else %}Total {{ len }} entries{% endif %} tagged</div>
	<ul class="tags">
		{% for post in posts %}
			<li><a href="{{ url_for('app.posts', slug=post.slug) }}">{{ post.title }}</a>, written on &mdash; {{ date_format(post.meta['date'], '%b %d, %Y').replace(" 0", " ") }}</li>
		{% endfor %}
	</ul>

	<div class="pagination row">
		<span class="previous prevent-collapse six columns">
			{% if previous_page %}
				<a href="{{ url_for('app.tag_pages', page_no=page_no-1, tag=tag) }}">&#8592; Previous</a>
			{% endif %}
		</span>
		<span class="next prevent-collapse six columns">
			{% if next_page %}
				<a href="{{ url_for('app.tag_pages', page_no=page_no+1, tag=tag) }}">Next &#8594;</a>
			{% endif %}
		</span>
	</div>

{% endblock %}
