{% extends "base.html" %}

{% block content %}
	<h1 class="page-title">Archives</h1>
	<h2 class="page-title">Yearly</h2>
	<ul>
		{% for year, occur in yearly %}
			<li><a href="{{ url_for('yearly_archive', year=year) }}">{{ year }} - {{ occur }}</a></li>
		{% endfor %}
	</ul>

	<h2 class="page-title">Monthly</h2>
	<ul>
		{% for datestring, date, occur in monthly %}
				<li><a href="{{ url_for('monthly_archive', year=date[0], month=date[1]) }}">{{ datestring }} - {{ occur }} {{ date }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
