{% extends "base.html" %}

{% block pageclass %} tag {% endblock %}

{% block content %}
	<h1 class="page-title"><a href="{{ url_for('archive') }}">Archive</a> for - {{ tag }}</h1>

	<ul class="tags">
		{% for post in posts %}
			<li><a href="{{ url_for('posts', slug=post.path[11::]) }}">{{ post.title }}</a>, written on &mdash; {{ timestamp_tostring(post.meta.timestamp, '%b %d, %Y').replace(" 0", " ") }}</li>
		{% endfor %}
	</ul>

	{% if month %}
		{% if next_page %}
			<a href="{{ url_for('monthly_archive_pages', page_no=page_no+1, year=year, month=month) }}">Next page</a>
		{% endif %}
		{% if previous_page %}
			<a href="{{ url_for('monthly_archive_pages', page_no=page_no-1, year=year, month=month) }}">Previous page</a>
		{% endif %}
	{% else %}
		{% if next_page %}
			<a href="{{ url_for('yearly_archive_pages', page_no=page_no+1, year=year) }}">Next page</a>
		{% endif %}
		{% if previous_page %}
			<a href="{{ url_for('yearly_archive_pages', page_no=page_no-1, year=year) }}">Previous page</a>
		{% endif %}
	{% endif %}

{% endblock %}
