<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ config.SITE.title }}</title>
		<meta itemprop="description" name="description" content="{{ config.SITE.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,700' rel='stylesheet' type='text/css'>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

		<!-- Js files -->
		<script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
	</head>
	<body itemscope="itemscope" itemtype="http://schema.org/WebPage" class="container">
		<header id="header" class="header row">
			<div class="title five columns">
				<a href="{{ url_for('posts', slug='about') }}">{{ config.SITE.name }}</a>'s super blog
			</div>
			<nav class="nav seven columns">
				<ul class="flat">
					<li><a href="/">blog</a></li>
					<li><a href="{{ url_for('tags') }}">tags</a></li>
					<li><a href="{{ url_for('archive') }}">archive</a></li>
					<li><a href="{{ url_for('posts', slug='about') }}">about</a></li>
				</ul>
			</nav>
		</header><!-- /header -->
		<main class="main row {% block pageclass %}{% endblock %}">
			{% block content %}
				Post content goes here
			{% endblock %}
		</main><!-- /main -->
		<footer class="footer row">
			&#169; Copyright 2014 by {{ config.SITE.name or 'Vivek'}}
		</footer><!-- /footer -->
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
	</body>
</html>
