{% extends "base.html" %}

{% block pageclass %} home {% endblock %}
{% block content %}
	{% for post in posts %}
		<div class="row post">
			<div class="post-description ten columns">
				<a class="title" href="{{ url_for('posts', slug=post.path[11::]) }}">{{ post.title }}</a>
				<span class="summary">- {{ post.meta.get('summary', '') }}</span>
			</div>
			<div class="post-date two columns">
				{{ timestamp_tostring(post.meta.timestamp, '%b %d, %Y').replace(" 0", " ") }}
			</div>
		</div>
	{% endfor %}

	{% if next_page %}
		<a href="{{ url_for('pagination', page_no=page_no+1, tag=tag) }}">Next page</a>
	{% endif %}
	{% if previous_page %}
		<a href="{{ url_for('pagination', page_no=page_no-1, tag=tag) }}">Previous page</a>
	{% endif %}
{% endblock %}

